.App {
  text-align: center;
}
label {
  display:block;
}
input{
  margin: 2rem;
}

html {
  height: 100%;
}
body{
  text-align: center;
  background: linear-gradient(120deg, rgb(79, 160, 253) , rgb(160, 99, 245) 50%);
}

.headerDiv {
  height: 3rem;
  
  padding: 3rem;
  font-size: 3rem;
  color: white;
  background: linear-gradient(120deg, rgb(197, 234, 117) , rgb(245, 99, 99) );
}

.formDiv{
  display: flex;
  justify-content: center;
  
  border-style: solid;
  font-size: 2rem;
  color: bisque;
}